* {
    box-sizing: border-box;
    word-wrap: break-word;
}

#submittedChecker {
    font-size: large;
    text-align: center;
    color: red;
}

.novisible {
    display: none;
    position: absolute;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 80%;
    height: 80%;
    border: 2px rgb(24, 24, 96) solid;
    border-radius: 5px;
}

#leftFiller {
    /* basically the left side of the quiz */
    position: fixed;
    height: 100%;
    width: 9%;
    left: 0;
    top: 0;
    margin-top: 0;
    background: linear-gradient(rgb(180, 180, 14), rgb(215, 215, 8),rgb(180, 180, 14));
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightFiller {
    /* basically the right side of the quiz */
    position: fixed;
    height: 100%;
    width: 9%;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(180, 180, 14), rgb(215, 215, 8),rgb(180, 180, 14));
    display: flex;
    align-items: center;
    justify-content: center;
}


.navigationLeft {
    background-color: rgb(152, 212, 21);
    border: 2px rgb(148, 0, 0) solid;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.navigationLeft a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    font-size: 300%;
    color: whitesmoke;
    text-decoration: none;
}

.navigationLeft:hover{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    background-color: rgb(105, 141, 49);
}

.navigationLeft:hover a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    color: rgb(223, 213, 213);
    font-size: 330%;
    transition: ease 0.25s;
}

.navigationRight {
    background-color: rgb(152, 212, 21);
    border: 2px rgb(148, 0, 0) solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.navigationRight a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    font-size: 300%;
    color: whitesmoke;
    text-decoration: none;
}

.navigationRight:hover{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    background-color: rgb(105, 141, 49);
}

.navigationRight:hover a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    color: rgb(223, 213, 213);
    font-size: 330%;
    transition: ease 0.25s;
}

span {
    /* turns <span>ed tags to a dark green shade */
    color: rgb(212, 60, 60);
}

body {
    background: rgb(18, 18, 18);
}

#boxmodel {
    /* text aspect of body */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* physical aspect of body */
    background-color: transparent;
    width: 80%;
    margin: auto;
}

header {
    /* text aspect of header */
    font-size: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    /* physical aspect of header */
    border-radius: 15px;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}

#title {
    /* text aspect of title */
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    /* physical aspect of title */
    border-radius: 15px;
    background: rgb(69, 59, 59);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

#fmuitsContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 15px;
}

#fmuits1 {
    /* text aspect of "form methods used" header */
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    /* physical aspect of "form methods used" header */
    background-color: rgb(191, 255, 0);
    padding: 5px;
}

#fmuits2 {
    /* text aspect of "form methods used" box */
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* physical aspect of "form methods used" box */
    background-color: rgb(99, 89, 89);
    padding: 5px;
    align-items: center;
}

#q1header {
    /* text aspect of question one header */
    text-indent: 2%;
    font-weight: bold;
    color: white;
    /* physical aspect of question one header */
    background-image: linear-gradient(135deg, #573c3c 25%, #ccff00 25%, #ccff00 50%, #573c3c 50%, #573c3c 75%, #ccff00 75%, #ccff00 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q1content {
    /* text aspect of question one content */
    color: rgb(0, 0, 0);
    text-align: justify;
    /* physical aspect of question one content */
    text-indent: 2%;
    background: rgb(249, 240, 240);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q1content input {
    margin-left: 1%;
    width: 40%;
}

#q2header {
    /* text aspect of question two header */
    text-indent: 2%;
    font-weight: bold;
    color: white;
    /* physical aspect of question two header */
    background-image: linear-gradient(135deg, #573c3c 25%, #ccff00 25%, #ccff00 50%, #573c3c 50%, #573c3c 75%, #ccff00 75%, #ccff00 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q2content {
    /* text aspect of question two content */
    color: rgb(0, 0, 0);
    text-align: justify;
    /* physical aspect of question two content */
    text-indent: 2%;
    background: rgb(249, 240, 240);
    padding: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q2content form {
    text-indent: 0;
}

#q2content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#q3header {
    /* text aspect of question two header */
    text-indent: 2%;
    font-weight: bold;
    color: white;
    /* physical aspect of question two header */
   background-image: linear-gradient(135deg, #573c3c 25%, #ccff00 25%, #ccff00 50%, #573c3c 50%, #573c3c 75%, #ccff00 75%, #ccff00 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q3content {
    /* text aspect of question two content */
    color: rgb(0, 0, 0);
    text-align: justify;
    /* physical aspect of question two content */
    text-indent: 2%;
    background: rgb(249, 240, 240);
    padding: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q3content form {
    text-indent: 0;
}

#q3content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#q4header {
    /* text aspect of question five header */
    text-indent: 2%;
    font-weight: bold;
    color: white;
    /* physical aspect of question five header */
   background-image: linear-gradient(135deg, #573c3c 25%, #ccff00 25%, #ccff00 50%, #573c3c 50%, #573c3c 75%, #ccff00 75%, #ccff00 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q4content {
    /* text aspect of question five content */
    color: rgb(0, 0, 0);
    text-align: justify;
    /* physical aspect of question five content */
    text-indent: 2%;
    background: rgb(29,41,35);
    background: rgb(249, 240, 240);
    padding: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q4content form {
    text-indent: 0;
}

#q4content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#q5header {
    /* text aspect of question five header */
    text-indent: 2%;
    font-weight: bold;
    color: white;
    /* physical aspect of question five header */
   background-image: linear-gradient(135deg, #573c3c 25%, #ccff00 25%, #ccff00 50%, #573c3c 50%, #573c3c 75%, #ccff00 75%, #ccff00 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q5content {
    /* text aspect of question five content */
    color: rgb(0, 0, 0);
    text-align: justify;
    /* physical aspect of question five content */
    text-indent: 2%;
    background: rgb(29,41,35);
    background: rgb(249, 240, 240);
    padding: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q5content input {
    margin-left: 1%;
    width: 40%;
}

#submitreset form {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

#submitreset form input {
    color: rgb(98, 145, 33);
    font-family: monospace;
    width: 80%;
    border: 1px rgb(155, 239, 0) solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

#submitreset form input:hover {
    background-color: rgb(217, 225, 209);
}

#navigationPage form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

#navigationPage form input {
    color: rgb(98, 145, 33);
    font-family: monospace;
    width: 60%;
    border: 1px rgb(155, 239, 0) solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

#navigationPage form input:hover {
    background-color: rgb(217, 225, 209);
}

#copyright {
    /* text aspect of copyright */
    color: rgb(0, 0, 0);
    text-align: center;
    /* physical aspect of copyright */
    border-radius: 15px;
    background-color: rgb(115, 255, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}