* {
    box-sizing: border-box;
    word-wrap: break-word;
}

#submittedChecker {
    font-size: large;
    text-align: center;
    color: red;
}

.novisible {
    display: none;
    position: absolute;
}

#leftFiller {
    /* basically the left side of the quiz */
    position: fixed;
    height: 100%;
    width: 9%;
    left: 0;
    top: 0;
    margin-top: 0;
    background: linear-gradient(to left, rgb(43, 50, 43), rgb(21, 111, 21));
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightFiller {
    /* basically the right side of the quiz */
    position: fixed;
    height: 100%;
    width: 9%;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgb(43, 50, 43), rgb(21, 111, 21));
    display: flex;
    align-items: center;
    justify-content: center;
}


.navigationRight {
    background-color: rgb(30, 37, 33);
    border: 1.5px rgb(187, 182, 52) solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.navigationRight a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    font-size: 300%;
    color: whitesmoke;
    text-decoration: none;
}

.navigationRight:hover{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    background-color: rgb(48, 61, 54);
}

.navigationRight:hover a{
    /* arrow is a unicode so to edit them, I have to use css text manipulation */
    color: rgb(223, 213, 213);
    font-size: 330%;
    transition: ease 0.25s;
}

span {
    /* turns <span>ed tags to a dark green shade */
    color: rgb(158, 206, 80);
}

body {
    background-color: rgb(43, 50, 43);
}

#boxmodel {
    /* text aspect of body */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* physical aspect of body */
    background-color: rgb(43, 50, 43);
    width: 80%;
    margin: auto;
}

header {
    /* text aspect of header */
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Console', monospace;
    color: rgb(90, 220, 24);
    text-align: center;
    /* physical aspect of header */
    border-radius: 15px;
    background: rgb(24,22,22);
    background: radial-gradient(circle, rgba(24,22,22,1) 0%, rgba(0,0,0,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;

}

#title {
    /* text aspect of title */
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    color: rgb(85, 223, 17);
    text-align: center;
    /* physical aspect of title */
    border-radius: 15px;
    background: rgb(24,22,22);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

#fmuitsContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 15px;
}

#fmuits1 {
    /* text aspect of "form methods used" header */
    text-align: center;
    font-weight: bold;
    color: rgb(245, 245, 245);
    /* physical aspect of "form methods used" header */
    background-color: rgb(78, 99, 84);
    padding: 5px;
}

#fmuits2 {
    /* text aspect of "form methods used" box */
    text-align: center;
    font-weight: bold;
    color: rgb(78, 99, 84);
    /* physical aspect of "form methods used" box */
    background-color: rgb(172, 248, 20);
    padding: 5px;
    align-items: center;
}

#q1header {
    /* text aspect of question one header */
    text-indent: 2%;
    font-weight: bold;
    color: black;
    /* physical aspect of question one header */
    background: rgb(212,207,64);
    background: linear-gradient(90deg, rgba(212,207,64,1) 0%, rgba(185,180,51,1) 50%, rgba(212,207,64,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q1content {
    /* text aspect of question one content */
    color: rgb(204, 222, 206);
    text-align: justify;
    /* physical aspect of question one content */
    text-indent: 2%;
    background: rgb(29,41,35);
    background: radial-gradient(circle, rgba(29,41,35,1) 0%, rgba(32,29,29,1) 100%, rgba(105,64,64,1) 100%);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q1content input {
    margin-left: 1%;
    width: 40%;
}

#q2header {
    /* text aspect of question two header */
    text-indent: 2%;
    font-weight: bold;
    color: black;
    /* physical aspect of question two header */
    background: rgb(212,207,64);
    background: linear-gradient(90deg, rgba(212,207,64,1) 0%, rgba(185,180,51,1) 50%, rgba(212,207,64,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q2content {
    /* text aspect of question two content */
    color: rgb(204, 222, 206);
    text-align: justify;
    /* physical aspect of question two content */
    text-indent: 2%;
    background: radial-gradient(circle, rgba(29,41,35,1) 0%, rgba(32,29,29,1) 100%, rgba(105,64,64,1) 100%);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q2content form {
    text-indent: 0;
}

#q2content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#q3header {
    /* text aspect of question one header */
    text-indent: 2%;
    font-weight: bold;
    color: black;
    /* physical aspect of question one header */
    background: rgb(212,207,64);
background: linear-gradient(90deg, rgba(212,207,64,1) 0%, rgba(185,180,51,1) 50%, rgba(212,207,64,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q3content {
    /* text aspect of question one content */
    color: rgb(204, 222, 206);
    text-align: justify;
    /* physical aspect of question one content */
    text-indent: 2%;
    background: radial-gradient(circle, rgba(29,41,35,1) 0%, rgba(32,29,29,1) 100%, rgba(105,64,64,1) 100%);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q3content input {
    margin-left: 1%;
    width: 40%;
}

#q4header {
    /* text aspect of question two header */
    text-indent: 2%;
    font-weight: bold;
    color: black;
    /* physical aspect of question two header */
    background: rgb(212,207,64);
background: linear-gradient(90deg, rgba(212,207,64,1) 0%, rgba(185,180,51,1) 50%, rgba(212,207,64,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q4content {
    /* text aspect of question two content */
    color: rgb(204, 222, 206);
    text-align: justify;
    /* physical aspect of question two content */
    text-indent: 2%;
    background: radial-gradient(circle, rgba(29,41,35,1) 0%, rgba(32,29,29,1) 100%, rgba(105,64,64,1) 100%);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q4content form {
    text-indent: 0;
}

#q4content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#q5header {
    /* text aspect of question two header */
    text-indent: 2%;
    font-weight: bold;
    color: black;
    /* physical aspect of question two header */
    background: rgb(212,207,64);
    background: linear-gradient(90deg, rgba(212,207,64,1) 0%, rgba(185,180,51,1) 50%, rgba(212,207,64,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#q5content {
    /* text aspect of question two content */
    color: rgb(204, 222, 206);
    text-align: justify;
    /* physical aspect of question two content */
    text-indent: 2%;
    background: radial-gradient(circle, rgba(29,41,35,1) 0%, rgba(32,29,29,1) 100%, rgba(105,64,64,1) 100%);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#q5content form {
    text-indent: 0;
}

#q5content form input {
    margin-right: 2%;
    margin-bottom: 1%;
}

#submitreset form {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

#submitreset form input {
    color: white;
    font-family: monospace;
    width: 80%;
    border: 1px rgb(212, 207, 64) solid;
    border-radius: 4px;
    background-color: rgb(67, 63, 59);
}

#submitreset form input:hover {
    background-color: rgb(36, 28, 28);
}

#navigationPage form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

#navigationPage form input {
    color: white;
    font-family: monospace;
    width: 60%;
    border: 1px rgb(212, 207, 64) solid;
    border-radius: 4px;
    background-color: rgb(67, 63, 59);
}

#navigationPage form input:hover {
    background-color: rgb(36, 28, 28);
}

#copyright {
    /* text aspect of copyright */
    color: rgb(128, 233, 76);
    text-align: center;
    /* physical aspect of copyright */
    border-radius: 15px;
    background-color: rgb(33, 30, 30);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}